---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import FeaturedArticle from "../components/FeaturedArticle.astro";
import PopularArticles from "../components/PopularArticles.astro";
---

<PrimaryLayout>
  <div class="three-columns section">
    <FeaturedArticle class="span-2" />
    <div class="inverted flow">
      <h2 class="accent-color">New</h2>
      <ul role="list" class="separated-list">
        <li>
          <article class="flow">
            <h3><a href="#">Article 1</a></h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
          </article>
        </li>
        <li>
          <article>
            <h3><a href="#">Article 2</a></h3>
            <p>
              Eos eveniet aliquam ex praesentium delectus iste. 
            </p>
          </article>
        </li>
        <li>
          <article>
            <h3><a href="#">Article 3</a></h3>
            <p>
              Ipsum explicabo eius mollitia harum aliquid! Rem officia
            </p>
          </article>
        </li>
      </ul>
    </div>
  </div>

  <PopularArticles class="three-columns section" />
  <!-- three-cols -->
  <!-- featured -->
  <!-- new -->
  <!-- three cols -->
  <!-- popular -->
</PrimaryLayout>
