---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import FeaturedArticle from '../components/FeaturedArticle.astro'
---

<PrimaryLayout>
	<div class="three-columns">
		<FeaturedArticle class="span-2"/>
		<div class="inverted">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint possimus quasi voluptatum. Amet laboriosam provident blanditiis incidunt corporis, optio nihil omnis? Libero, exercitationem omnis molestias dolor nostrum perferendis ut quam?</p>
		</div>
	</div>
	<!-- three-cols -->
		<!-- featured -->
		<!-- new -->
	<!-- three cols -->
		<!-- popular -->
</PrimaryLayout>
