<header>
    <h1 class="visually-hidden">The W.</h1>
    <a href="/" class="logo">
        <img src="/images/logo.svg" alt="">
    </a>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Categories</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-block:
            clamp(1.5rem, 5vmax, 5rem)
            clamp(1.5rem, 5vmax, 5rem);
    }
    ul {
        list-style: none;
        margin: 0%;
        padding: 0%;
        display: flex;
        gap: 1rem;

    }

    a{
        text-decoration: none;
        color: currentColor;

        &:hover,
        &:focus-visible {
            color: var(--clr-accent);
        }
    }
</style>