---
const { class: className } = Astro.props;
---

<h2 class="visually-hidden">Popular Articles</h2>
<ul role="list" class:list={className}>
  <li>
    <article>
      <img src="/images/image-retro-pcs.jpg" alt="" />
      <div class="flow">
        <h3><a href="#">Reviving Retro PCs</a></h3>
        <p>What happens when old PCs are given modern upgrades?</p>
      </div>
    </article>
  </li>
  <li>
    <article>
      <img src="/images/image-top-laptops.jpg" alt="" />
      <div class="flow">
        <h3>Top 10 Laptops of 2022</h3>
        <p>Our best picks for various needs and budgets.</p>
      </div>
    </article>
  </li>
  <li>
    <article>
      <img src="/images/image-gaming-growth.jpg" alt="" />
      <div class="flow">
        <h3>The Growth of Gaming</h3>
        <p>How the pandemic has sparked fresh opportunities.</p>
      </div>
    </article>
  </li>
</ul>

<style>
  article {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    > div {
        display: grid;
        gap: .5rem;

      &::before {
        line-height: 1;
        content: counter(article-count, decimal-leading-zero);
        display: block;
        font-weight: var(--fw-semi-bold);
        font-size: var(--fs-700);
        color: var(--clr-accent);
      }
    }
  }

  ul {
    counter-reset: article-count;
  }

  li {
    counter-increment: article-count;
  }
</style>
