@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf');
    font-weight: 400 900;
    font-display: swap;
}

:root {
    /* Color */
    --clr-neutral-100: hsl(48, 71%, 99%);
    --clr-neutral-200: hsl(237, 20%, 80%);
    --clr-neutral-400: hsl(252, 2%, 41%);
    --clr-neutral-800: hsl(240, 100%, 5%);
    --clr-neutral-900: hsl(240, 92%, 5%);

    --clr-orange: hsl(5, 86%, 63%);
    --clr-yellow: hsl(33, 79%, 61%);

    --clr-body: var(--clr-neutral-400);
    --clr-heading: var(--clr-neutral-900);
    --clr-accent: var(--clr-orange);
    /* Font */

    --font-base: "Inter", sans-serif;
    
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p{
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--clr-heading);
    font-weight: var(--fw-bold);
    line-height: 1.1;
    text-wrap: balance;
}

:where(h1, h2, h3, h4) > a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        color: var(--clr-accent);
    }    
}


p,
li {
    text-wrap: pretty;
    max-width: 65ch;
}

[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    color: var(--clr-body);
    font-family: var(--font-base);
    line-height: 1.6;
}

main,
section {
    container-type: inline-size;
}

.base-layout {
    --max-width: 1180px;
    --padding: 1rem;

    display: grid;
    grid-template-columns:
        minmax(var(--padding), 1fr)
        min(var(--max-width), 100% - (var(--padding) * 2))
        minmax(var(--padding), 1fr);

        & > * {
            grid-column: 2/3;
        }

        & > .full-width {
            grid-column: 1/-1;
        }
}

.three-columns {
    display: grid;
    gap: 1rem;

    @container (width > calc(3 * 25ch)) {
        grid-template-columns: repeat(3, 1fr);

        > .span-2 {
            grid-column: span 2;
        }
    }

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.accent-color {
    color: var(--clr-accent);
}



.inverted {
    --clr-heading: var(--clr-neutral-100);
    --clr-body: var(--clr-neutral-200);
    --clr-accent: var(--clr-yellow);

    padding: 2rem;
    background-color: var(--clr-neutral-800);

    p {
        color: var(--clr-body);
    }
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.section {
    margin-block-end: 3rem;
}

.separated-list {
    /* add a separator between all */
    & > * + *::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background:
            hsl(from var(--clr-body) h s l / .5);
        margin-block: 1.5rem;
    }
}

.button {
    display: inline flex;
    background-color: var(--clr-accent);
    color: var(--clr-neutral-900);
    text-decoration: none;
    cursor: pointer;
    padding: .75em 1.5em;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .25ch;

    &:hover,
    &:focus-visible {
        background-color: var(--clr-neutral-900);
        color: var(--clr-neutral-100);
    }
  }